[submodule "dependencies/poco"]
	path = dependencies/poco
	url = https://github.com/pocoproject/poco.git
[submodule "dependencies/protobuf"]
	path = dependencies/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "dependencies/cmake-modules"]
	path = dependencies/cmake-modules
	url = https://github.com/viaduck/cmake-modules.git
[submodule "dependencies/gradido_blockchain"]
	path = dependencies/gradido_blockchain
	url = git@github.com:gradido/gradido_blockchain.git
